.button-like {
  transition: 0.7s !important;
}
.button-like:hover {
  background-color: maroon !important;
  color: beige !important;
}

.button-dislike {
  transition: 0.7s !important;
}
.button-dislike:hover {
  background-color: beige !important ;
  color: black !important;
  opacity: 0.9;
}
