$primary: FireBrick;
$dark: FireBrick;
$info: Maroon;
$light: rgba(245, 245, 220, 0.802);
@import "~bootstrap/scss/bootstrap.scss";

$color: stellblue;

body {
  background-image: linear-gradient(
      rgba(255, 239, 213, 0.506),
      rgba(255, 239, 213, 0.435)
    ),
    url(movies.jpeg);
}
.my-flix {
  color: $color;
}
